<div ng-controller="HomeCtrl">
  <div class="btn-group" ng-model="toggleButton" bs-radio-group>
    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="list">List</label>
    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="grid">Grid</label>
  </div>

  <ul class="event-list">
    <li ng-repeat="event in events">
      <div class="row">
        <div class="col-sm-2 event-date">
          Wed 1
        </div>
        <p class="col-sm-10 event-title">
          {{event.title}}
        </p>
      </div>
      <hr />
    </li>
  </ul>
</div>
